// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
  padding-top: 0px;
}
#nested-comment {
  margin-top: 45px;
}
#toggle-reply {
  margin-bottom: 15px;
}
#reply {
  display: none;
}